body {
background-color: rgb(255, 253, 208)
}

#page {
max-width: 940px;
min-width: 720px;
margin: 10px auto 10px auto;
padding: 20px;
border: 2px solid black;
}

#logo {
opacity: 1;
width: 700px;
margin: 10px auto 10px auto;
display: block;
align: center;
}

#logo:hover {
opacity: 0.5;
}

#journal {
margin: auto;
border: solid 2px;
width: 700px;
align: center;
}

hr.new1 {
border: 1px solid black;
max-width: 450px
}

#nav-ul {
width: 650px;
padding: 15px;
margin: 0px auto 0px auto;
border-top: 2px solid black;
border-bottom: 2px solid black;
text-align: center;
}

#nav-li {
display: inline;
margin: 0px 3px;
}

p {
text-align: center;
margin: 20px auto 20px auto;
max-width: 400px;
}

.journal {
text-align: center;
margin: 20px auto 20px auto;
max-width: 600px;
}

a {
color: black;
text-transformation: uppercase;
padding: 6px 18px 5px 18px;
}
a:hover {
color: darkcyan
}

h1, h3, h4, h5, h6 {
text-align: center;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
}