:root {--transition: all 0.3s linear;}

body {
background-color: rgb(255, 253, 208)
}

#page {
max-width: 940px;
min-width: 720px;
margin: 10px auto 10px auto;
padding: 20px;
border: 2px solid black;
}

#logo {
opacity: 1;
width: 700px;
margin: 10px auto 10px auto;
display: block;
align: center;
}

#logo:hover {
opacity: 0.5;
}

#journal {
margin: auto;
border: solid 2px;
width: 700px;
align: center;
}

hr.new1 {
border: 1px solid black;
max-width: 450px
}

.links {
max-width: 650px;
padding: 15px;
margin: 0px auto 0px auto;
text-align: center;
overflow: hidden;
align-items: center;
display: flex;
    flex-direction: row;
}


#nav-li {
display: flex;
text-align: center;
justify-content: center;
align-items: center;
margin: 0px 3px;
padding: 6px 18px 5px 18px;
text-decoration: none;
}

p {
text-align: center;
margin: 20px auto 20px auto;
max-width: 400px;
}

.journal {
text-align: center;
margin: 20px auto 20px auto;
max-width: 600px;
}

a {
color: black;
text-transform: capitalize;
text-decoration: none;
}

a:hover {
color: darkcyan
}

h1, h3, h4, h5, h6 {
text-align: center;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}


@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .links{
  flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1;
  }

  #page {
max-width: 640px;
min-width: 320px;
margin: 10px auto 10px auto;
padding: 20px;
border: 2px solid black;
}

#logo {
max-width: 300px;
margin: 10px auto 10px auto;
flex-wrap: wrap;
    display: flex;
align: center;
}
#journal {
margin: auto;
border: solid 2px;
width: 300px;
align: center;
}

    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    /* Important to add */
    .links {
      height: auto;
      display: flex;
    }
  }