body {background-color: lightblue; font-size: 1em; font-family: 'Tahoma'}
main {background-color: lightblue; border: 5px solid black; max-width: 700px}
ul {background-color: ; padding: 30px}
h1 {text-shadow: 5px 5px 5px blue}
h2 {background-color: darksalmon; position:fixed; right: 0px;}
img {border-radius: 30px; box-shadow: 5px 5px 5px red}